<!-- fragments/footer.html -->
<div class="footer" th:fragment="footer">
    <p>
        아이콘 출처
        <!--<br>
        <a href="https://www.flaticon.com/free-icons/visibility" target="_blank" rel="noopener noreferrer" style="color: #666;">
            Visibility icons created by Andrean Prabowo - Flaticon
        </a>-->
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Vlad Szirka - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Chanut - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/verified-badge-emoji" target="_blank" title="verified badge emoji icons" style="color: #666;">
            Verified badge emoji icons created by bearicons - Flaticon
        </a>
    </p>
</div>