<!-- fragments/footer.html -->
<div class="footer" th:fragment="footer">
    <p>
        아이콘 출처
        <br>
        <a href="https://www.flaticon.com/free-icons/user" target="_blank" title="user icons" style="color: #666;">
            User icons created by Maxim Basinski Premium - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Vlad Szirka - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Chanut - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/verified-badge-emoji" target="_blank" title="verified badge emoji icons" style="color: #666;">
            Verified badge emoji icons created by bearicons - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/comment" target="_blank" title="comment icons">
            Comment icons created by Ilham Fitrotul Hayat - Flaticon
        </a>
    </p>
</div>