<!-- fragments/footer.html -->
<div class="footer" th:fragment="footer">
    <p>
        아이콘 출처
        <br>
        <a href="https://www.flaticon.com/free-icons/user" target="_blank" title="user icons" style="color: #666;">
            User icons created by Maxim Basinski Premium - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Vlad Szirka - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/heart" target="_blank" title="heart icons" style="color: #666;">
            Heart icons created by Chanut - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/verified-badge-emoji" target="_blank" title="verified badge emoji icons" style="color: #666;">
            Verified badge emoji icons created by bearicons - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/comment" target="_blank" title="comment icons">
            Comment icons created by Ilham Fitrotul Hayat - Flaticon
        </a>
        <br>
        <a href="https://www.flaticon.com/free-icons/instagram-share" target="_blank" title="instagram share icons">
            Instagram share icons created by Aldo Cervantes - Flaticon
        </a>
    </p>
    <div style="display: flex; flex-direction: column; margin-right: 10px;">
        <p style="display: flex; justify-content: center; align-items: center; gap: 5px; padding: 0; margin: 0; margin-bottom: 5px;">
            <img src="/image/github.png" alt="깃허브" style="max-width: 12px;">
            <a href="https://github.com/Darren4641" target="_blank" title="instagram share icons" style="text-decoration: none;">
                개발자 깃허브
            </a>
        </p>
        <p style="display: flex; justify-content: center; align-items: center; gap: 5px; padding: 0; margin: 0;">
            <img src="/image/linkedin.png" alt="링크드인" style="max-width: 12px;">
            <a href="https://www.linkedin.com/in/대현-김-162a1b276" target="_blank" title="instagram share icons" style="text-decoration: none;">
                개발자 LinkedIn
            </a>
        </p>
    </div>


</div>