* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* 다크 모드인 경우 자동 적용 */
@media (prefers-color-scheme: dark) {
    body, .wrapper, .footer, .nav {
        background: #323232 !important;
        color: #eeeeee !important;
    }

    .upload-modal,
    .comment-modal
    {
        background: white !important;
        color: black !important;
    }

    .comment-text span {
        color: black !important;
    }

    textarea {
        background: white !important;
    }

    .wrapper::before {
        background:
                radial-gradient(circle at 30% 35%, rgba(120, 90, 255, 0.2), transparent 65%),
                radial-gradient(circle at 70% 65%, rgba(255, 100, 200, 0.15), transparent 65%),
                radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.05), transparent 70%) !important;
        opacity: 0.3 !important;;
        filter: blur(90px) !important;;
    }

    .header,
    .nickname,
    .message
    {
        color: #eeeeee !important;
    }
    .nav img {
        filter: invert(1);
    }

    .post-card {
        background: #3c3c3c !important;
        color: #eeeeee !important;
        border: 1px solid #3c3c3c !important;
    }
    .sort-filter {
        color: #eeeeee !important;
    }
    .nav {
        background-color: #1f1f1f;
        border-bottom: 1px solid #333;
    }

    .post-card {
        background-color: #1e1e1e !important;
        color: #eee !important;
        border-color: rgba(255, 255, 255, 0.05); /* 테두리도 어둡게 */
    }

    .post-caption-nickname {
        color: #ddd !important;
    }

    .post-meta {
        color: #aaa !important;
    }

    .post-caption-content {
        color: #eee !important;
    }

    .read-more {
        color: #ccc !important;
    }

    /* 그 외 아이콘은 기본 유지 */
    .icon[src*="empty_heart.png"],
    .icon[src*="comment.png"],
    .icon[src*="share.png"]{
        filter: invert(1) !important;
    }


    .image-indicator {
        background: rgba(255, 255, 255, 0.15) !important;
    }

    .image-indicator .dot {
        background: #666 !important;
    }

    .image-indicator .dot.active {
        background: white !important;
    }

    .modal-content {
        background-color: #2c2c2c;
        color: #fff;
    }

    .upload-form textarea {
        background-color: #333;
        color: black;
        border: 1px solid #444;
    }

    .upload-submit {
        background-color: #444;
        color: white;
    }

    /* 원하는 요소들 추가적으로 */
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #ffffff; /* 기본 흰색 배경 */
    overflow: hidden;
    z-index: 0;
}

.footer {
    flex-shrink: 0;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

.footer p {
    font-size: 0.5rem;
    text-align: left;
    color: #999;
    padding: 1rem 0.8rem;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background: #fafafa;
    margin: 0;
}

.post-caption-content.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: initial;
    white-space: pre-line;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background: white;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.nav button {
    margin-left: 0.5rem;
    background: none;
    border: none;
    font-weight: normal;
    color: #888;
    cursor: pointer;
}
.nav-left img {
    max-width: 60px;
}

.nav-wrapper {
    position: relative;
}

.nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 999;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.nav-placeholder {
    height: 60px; /* nav 높이랑 동일하게 */
    display: none;
}

.nav.fixed + .nav-placeholder {
    display: block;
}

.main-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 1.2rem 1rem 0rem 1rem;
}
.profile-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-bottom: 1rem;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eaeaea;
}

.profile-text {
    text-align: left;
}

.profile-text .nickname {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.profile-text .message {
    font-size: 0.85rem;
    color: #888;
}

.upload-btn-wrapper {
    margin-top: 0.5rem;
}


.upload-button {
    background: #0a0a0ac2;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    touch-action: pan-y;
}
.post-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 700px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post-image {
    width: 100%;
    height: 180px; /* 💡 높이 줄이기 (기존보다 낮게) */
    object-fit: cover;
    border-bottom: 1px solid #eee;
}
.post-caption-container {
    padding: 0.6rem 1rem 1rem 0.8rem;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    position: relative;
    display: inline;
}


.post-caption-nickname {
    padding: 0.6rem 0.5rem 0rem 0.8rem;
    font-size: 0.9rem; /* 살짝 줄임 */
    color: #333;
    font-weight: bold;
}

.post-caption-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.post-caption-content.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-caption-content.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: initial;
}


.read-more {
    display: inline;
    color: #888;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.post-meta {
    padding: 0.6rem 0.5rem 0rem 0.8rem;
    color: #888;
    font-size: 0.8rem;
}

.like-progress {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
    color: #888;
    padding: 0.4rem 0.8rem;
    font-weight: 500;
}

.like-progress img.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.like-progress img.icon:active {
    transform: scale(1.2);
}

.like-count {
    font-family: 'Noto Sans', sans-serif;
}

.like-progress.completed {
    color: #e91e63 !important;
    font-weight: bold;
    transition: color 0.3s ease;
}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal.hidden { display: none; }
.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
.modal-content input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
}
#authModal .modal-content,
#signupModal .modal-content{
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}

#authModal h3,
#signupModal h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}

#authModal input,
#signupModal input {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.loginBtn {
    background: #0a0a0ac2;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.image-wrapper {
    position: relative;
}

.badge {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 64px;
    height: auto;
    z-index: 2;
}


.prevImage {
    -webkit-tap-highlight-color: transparent; /* iOS/Android 터치 하이라이트 제거 */
    -webkit-focus-ring-color: transparent;    /* iOS 버튼 포커스 테두리 제거 */
    outline: none;                            /* 포커스 시 외곽선 제거 */
    border: none;
    box-shadow: none;
}

.prevImage:focus,
.prevImage:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


.wrapper::before {
    content: '';
    position: absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
    background:
            radial-gradient(circle at 30% 35%, rgba(255, 90, 150, 0.3), transparent 65%),
            radial-gradient(circle at 70% 65%, rgba(90, 160, 255, 0.3), transparent 65%),
            radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.07), transparent 70%);
    filter: blur(100px);
    z-index: -1;
    animation: softAurora 5s linear infinite;
    opacity: 0.5;
}

@keyframes softAurora {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.05);
    }
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
    z-index: 1;
}


.footer {
    border-top: 1px solid #eee;
    background: #fff;
}
.footer a:hover {
    text-decoration: underline;
    color: #3897f0;
}
.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.post-card {
    position: relative;
    /* 기존 스타일 유지 */
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 700px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1; /* 배경 효과보다 위로 */

    border: 1px solid rgba(0, 150, 255, 0.15); /* 연한 파랑 테두리 */
}

.post-card::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    /*background: radial-gradient(circle, rgba(100, 200, 255, 0.15), transparent 70%),
    radial-gradient(circle, rgba(255, 150, 200, 0.1), transparent 60%);*/
    filter: blur(60px);
    z-index: -1;
    /*pointer-events: none;*/
}
#scroll-sentinel {
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

/* form */
.upload-modal,
.comment-modal{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100vw; /* 📱화면 너비 기준 */
    height: 70vh; /* 화면 높이의 85% */
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.35s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.upload-modal.show,
#commentModal.show {
    bottom: 0;
}

.upload-handle {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    margin: 0 auto 1rem;
}

.upload-header,
.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #000000;
}

.upload-form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.7rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.upload-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
}

.image-box {
    width: 70px;
    height: 70px;
    background: #f0f0f0;
    border: 1px dashed #aaa;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.image-box input {
    display: none;
}


.image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;
}

.image-wrapper-multiple {
    display: flex;
    position: relative;
    height: 100%;
    transition: transform 0.3s ease;
    will-change: transform;
}

.slide-image {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    height: 180px;
    user-select: none;
}

.image-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 6px;
    z-index: 2;
    background: rgba(0,0,0,0.4);
    padding: 3px 6px;
    border-radius: 10px;
}

.image-indicator .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ccc;
    transition: background 0.3s;
}

.image-indicator .dot.active {
    background-color: white;
}


.upload-submit {
    background: #0a0a0ac2;
    color: white;
    border: none;
    padding: 0.8rem;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.upload-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.image-box,
#imagePreviewContainer img {
    width: calc(20vw - 10px); /* 👈 이미지 4~5개 보기 좋게 */
    max-width: 60px;
    height: calc(20vw - 10px);
    max-height: 60px;
    border-radius: 8px;
}

.preview-image-wrapper {
    position: relative;
    width: calc(20vw - 10px);
    max-width: 60px;
    height: calc(20vw - 10px);
    max-height: 60px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ececec;
}

.preview-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.remove-image {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    z-index: 2;
}

#imagePreviewContainer {
    display: flex;
    gap: 2px;
}

.sort-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem 0rem 1rem;
    font-size: 0.9rem;
    color: #555;
}
.sort-filter select {
    margin-left: 0.5rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sort-filter select > option {
    color: #555;
}

#imageViewModal .modal-content {
    position: relative;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    flex-direction: row;
    padding: 1rem;
}

#modalImageView {
    max-width: 90vw;
    max-height: 80vh;
    display: block;
    margin: auto;
    object-fit: contain;
    border-radius: 10px;
}

/*댓글 기능*/

.no-comment {
    color: #9c9898;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-form input,
.comment-form button {
    position: relative;
    z-index: 10;
}


.comment-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    gap: 8px;
    padding: 0.7rem 1rem;
    border-top: 1px solid #eee;
    z-index: 1002;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    padding-bottom: 20px;
}
.comment-form input {
    flex: 1;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.comment-form button {
    background: #0a0a0ac2;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.comment-form button:hover {
    background: #000000d9;
}

.comment-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.comment-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eaeaea;
}

.comment-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.comment-text {
    font-size: 14px;
    color: #333;
}

.comment-text .nickname {
    font-weight: bold;
    margin-right: 6px;
    text-decoration: none;
    color: #000;
}

.comment-time {
    font-size: 11px;
    color: #888;
    margin-top: 2px;
}
#commentModal.show .comment-form {
    transform: translateY(0);
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #ddd;
    border-top-color: #47b3de; /* 인스타 핑크 포인트 */
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
 .represent-label {
     position: absolute;
     top: 3px;
     left: 3px;
     background: #000000a8;
     color: white;
     font-size: 10px;
     padding: 1px 5px;
     border-radius: 4px;
     z-index: 10;
 }

.comment-list {
    max-height: 400px; /* 원하는 높이 */
    overflow-y: auto;
    padding-right: 8px; /* 스크롤바 공간 확보 */
}

.my-profile-container {
    max-width: 700px;
    padding: 1.2rem;
    width: 100%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
}

.profile-info {
    flex: 1;
    margin-left: 1rem;
}

.nickname {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.stats span {
    font-size: 0.9rem;
    margin-right: 10px;
    color: #666;
}

.setting-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: grayscale(80%);
}

.profile-tab {
    display: flex;
    justify-content: space-around;
    margin: 1.2rem 0;
    border-bottom: 1px solid #ddd;
}

.tab-btn {
    flex: 1;
    padding: 0.8rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #555;
    font-weight: 500;
}

.tab-btn.active {
    border-bottom: 2px solid black;
    color: black;
}

.profile-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.profile-post-grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.tab-content-area {
    margin-top: 1rem;
}

.setting-item {
    margin-bottom: 0.8rem;
    padding: 0.8rem 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    font-size: 0.95rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-item strong {
    display: inline-block;
    width: 100px;
    font-weight: 600;
}

.post-image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
}

.post-image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.small-heart-icon {
    position: absolute !important;
    bottom: 6px !important;
    right: 6px !important;
    width: 22px !important;
    height: 22px !important;
    opacity: 0.95 !important;
    z-index: 2 !important;
    pointer-events: none !important;
}

.pwa-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 어두운 배경 */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: fade-in 0.3s ease-in-out;
}

/* 숨기기 */
.hidden {
    display: none;
}

/* 배너 */
.pwa-banner {
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15), 0 -1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0 0;
    padding: 24px;
    animation: slide-up 0.3s ease-in-out;
}

/* 배너 슬라이드 애니메이션 */
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* 닫기 버튼 */
.close-button {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

.install-button {
    background-color: #262626;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.ios-install-guide {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    text-align: left;
}

.ios-install-guide ol {
    padding-left: 20px;
    margin: 10px 0;
}

.ios-install-guide li {
    margin-bottom: 8px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(15px);
}

.post-action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    margin: 10px 10px 10px 0;
}

.post-action-buttons button {
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Noto Sans', sans-serif;
}

.post-action-buttons .edit-btn:hover {
    background-color: #e0f7fa;
    border-color: #00acc1;
    color: #006064;
}

.post-action-buttons .delete-btn:hover {
    background-color: #ffebee;
    border-color: #e53935;
    color: #b71c1c;
}